<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}"/>
  <title>Footer</title>
</head>
<body>
<footer th:fragment="footer" class="px-3 border-top py-3 my-4">
  <div class="container">
    <span class="mb-3 mb-md-0 text-muted">&copy; JWP project 2023</span>
  </div>
</footer>
</body>
<script th:src="@{/webjars/jquery/jquery.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.js}"></script>
</html>