<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}"/>
    <title>Header</title>
</head>
<body>

<header th:fragment="header" class="bg-dark">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                             class="bi bi-list" viewBox="0 0 16 16">
                          <path fill-rule="evenodd"
                                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">7
                    <ul class="navbar-nav mb-2 mb-lg-0 col-lg-10" sec:authorize="isAnonymous()">
                        <li class="nav-item">
                            <a class="nav-link link-light fw-bold" aria-current="page"
                               th:href="@{/public/home.html}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-light fw-bold" th:href="@{/public/browse.html}">Browse</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mb-2 mb-lg-0 col-lg-2" sec:authorize="isAnonymous()">
                        <li class="nav-item">
                            <a class="nav-link link-light fw-bold" th:href="@{/auth/login.html}"
                               aria-current="page">Login</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mb-2 mb-lg-0 col-lg-10" sec:authorize="isAuthenticated()">
                        <li class="nav-item">
                            <a class="nav-link link-light fw-bold" aria-current="page"
                               th:href="@{/storeHome/homePage.html}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-light fw-bold" th:href="@{/storeHome/browse.html}">Browse</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mb-2 mb-lg-0 col-lg-2" sec:authorize="isAuthenticated()">
                        <li class="nav-item">
                            <form class="nav-link link-light fw-bold" th:action="@{/logout}" method="post">
                                <input type="submit" value="Sign Out"/>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>

<script th:src="@{/webjars/jquery/jquery.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.js}"></script>
</body>
</html>