<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}"/>
    <title>Public Browse page</title>
</head>
<body>

<div th:fragment="content">
    <main class="row">
        <h3>Feel free to browse and filter through our wares</h3>
        <hr>
        <div class="row">
            <div class="col">
                <div class="row justify-content-end">
                    <div class="col-4">
                        <form th:action="@{/public/categories}" method="post">
                            <div class="input-group">
                                <label class="input-group-text" for="categorySelect">Filter by...</label>
                                <select class="form-select" id="categorySelect" name="selectedCategory">
                                    <option th:value="all" th:text="all"></option>
                                    <option th:each="category : ${categories}"
                                            th:value="${category.id}" th:text="${category.name}">
                                    </option>
                                </select>
                                <button type="submit" class="btn btn-outline-dark">Filter</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Description</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider align-text-bottom">
                            <tr th:if="${itemsToDisplay.isEmpty()}">
                                <td colspan="6"> No Items Available</td>
                            </tr>
                            <tr th:each="it : ${itemsToDisplay}">
                                <th scope="row" th:text="${it.itemId}"></th>
                                <td th:text="${it.name}"></td>
                                <td th:text="${it.category.name}"></td>
                                <td th:text="${it.description}"></td>
                                <td th:text="${it.quantity}"></td>
                                <td th:text="${it.price} + '€'"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>

<script th:src="@{/webjars/jquery/jquery.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.js}"></script>
</body>
</html>