<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" name="viewport" content="width=device-width, initial-scale=1, text/html">

    <!-- Bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/publicHome.css}">

    <title>Home page</title>
</head>
<body style="height: 100vh;" class="d-flex text-center">
<div class="d-flex w-100 h-100 mx-auto flex-column">
    <div class="mb-auto" th:insert="~{/fragments/header :: header}"></div>

    <div class="container">
        <main class="row">
            <h1>Welcome!</h1>
            <h3>This is going to be a public home page for anonymous users to browse products.</h3>
            <hr>
            <div class="items-container">
                <div th:if="${publicItems.isEmpty()}">
                    <div class="card" aria-hidden="true" style="width: 18rem;">
                        <img src="/static/images/no-image.png" th:src="@{images/no-image.png}" class="card-img-top"
                             alt="no items image">
                        <div class="card-body">
                            <h5 class="card-title placeholder-glow">
                                <span class="placeholder col-6"></span>
                            </h5>
                            <p class="card-text placeholder-glow">
                                <span class="placeholder col-7"></span>
                                <span class="placeholder col-4"></span>
                                <span class="placeholder col-4"></span>
                                <span class="placeholder col-6"></span>
                                <span class="placeholder col-8"></span>
                            </p>
                            <a class="btn btn-primary disabled placeholder col-6" aria-disabled="true"></a>
                        </div>
                    </div>
                </div>

                <div th:each="pbItem : ${publicItems}">
                    <div class="card" style="width: 18rem;">
                        <img src="" th:src="@{/images/no-image.png}" class="card-img-top"
                             alt="no items image">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${pbItem.name}"></h5>
                            <h6 class="card-subtitle" th:text="${pbItem.category}"></h6>
                            <p class="card-text" th:text="${pbItem.description}"></p>
                            <h5 class="card-footer" th:text="${pbItem.price} + '€'"></h5>
                            <a href="#" class="btn btn-primary">Purchase</a>
                        </div>
                    </div>
                </div>

            </div>
        </main>
    </div>

    <div class="mt-auto" th:insert="~{/fragments/footer :: footer}"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>