<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}"/>
</head>
<body style="height: 100vh;" class="d-flex text-center text-bg-dark">
<div class="d-flex w-100 h-100 mx-auto flex-column">
    <!--    <div class="mb-auto" th:insert="~{/fragments/header :: header}"></div>-->

    <div class="container">
        <main class="row">
            <h1>Welcome!</h1>

            <!--            <p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>--> <!-- TODO  useless piece of code, delete once you understand you won't need to come back to it any more! -->
            <p>Click <a th:href="@{/templates/login.html}">here</a> to login.</p>
        </main>
    </div>

    <div class="mt-auto" th:insert="~{/fragments/footer :: footer}"></div>
</div>
<script th:src="@{/webjars/jquery/jquery.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.js}"></script>
</body>
</html>