<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}"/>
</head>
<body style="height: 100vh;" class="d-flex text-center text-bg-dark">
<div class="d-flex w-100 h-100 mx-auto flex-column">
    <div class="mb-auto" th:insert="~{/fragments/header :: header}"></div>

    <div class="container">
        <main class="row">
            <div class="row">
                <div class="col">
                    <table>
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${items.empty}">
                            <td colspan="7"> No Items Available</td>
                        </tr>
                        <tr th:each="item : ${items}">
                            <td><span th:text="${item.id}"> Id </span></td>
                            <td><span th:text="${item.name}"> Name </span></td>
                            <td><span th:text="${item.category}"> Category </span></td>
                            <td><span th:text="${item.description}"> Description </span></td>
                            <td><span th:text="${item.price}"> Price </span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col container" sec:authorize="hasRole('ROLE_ADMIN')">
                    <ul>
                        <li th:each="err : ${#fields.errors('item.*')}" th:text="${err}" class="text-danger"/>
                    </ul>
                    <hr>
                    <form th:action="@{/storeHome/newItem.html}" th:object="${item}" method="post">
                        <label>
                            Name:
                            <input type="text" th:field="*{name}" name="item.name"/> <!--th:required="required"/> -->
                        </label>
                        <label>
                            Category:
                            <select th:field="*{category}">
                                <option th:each="category : ${T(hr.algebra.tabletopshop.domain.items.Category).values()}"
                                        th:value="${category}" th:text="${category}">
                                </option>
                            </select>
                        </label>
                        <label>
                            Description:
                            <input type="text" th:field="*{description}" name="item.description"/>
                        </label>
                        <label>
                            Price:
                            <input type="text" th:field="*{price}" name="item.price"/>
                        </label>
                        <input type="submit"/>
                    </form>
                </div>
            </div>
            <br>
            <div class="row justify-content-center" sec:authorize="hasRole('ROLE_ADMIN')">
                <p id="message"></p>
            </div>
            <br>
            <div class="row justify-content-center">
                <span><a th:href="@{/storeHome/cleanSession.html}" sec:authorize="hasRole('ROLE_ADMIN')"
                         class="link-dark">Clean session</a></span>
                <span><a th:href="@{/storeHome/adminPage.html}" sec:authorize="hasRole('ROLE_ADMIN')" class="link-dark">Admin
                    page</a></span>
            </div>
            <div class="row">
                <h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>
            </div>
        </main>
    </div>

    <div class="mt-auto" th:insert="~{/fragments/footer :: footer}"></div>
</div>

<script th:src="@{/webjars/jquery/jquery.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.js}"></script>
</body>

<script sec:authorize="hasRole('ROLE_ADMIN')">
    $(document).ready(function () {
        $.ajax({
            url: "/storeHome/getItemData",
            type: "GET",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                $("#message").text(data.message);
            }
        });
    });
</script>

</html>