<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" name="viewport" content="width=device-width, initial-scale=1, text/html">

    <!-- Bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">

    <title>Login page</title>
</head>
<body style="height: 100vh;" class="d-flex text-center">
<div class="d-flex w-100 h-100 mx-auto flex-column">
    <div class="mb-auto" th:insert="~{/fragments/header :: header}"></div>
    <div class="container">
        <main class="row m-auto justify-content-center">
            <div class="card p-4" style="width: 60rem;">
                <ul class="nav nav-pills nav-justified mb-3" id="authTabs" role="tablist">
                    <li class="nav-item me-2" role="presentation">
                        <a class="nav-link nav-link active" id="tab-login" data-mdb-toggle="pill" href="#pills-login"
                           role="tab"
                           aria-controls="pills-login" aria-selected="true" autofocus>Login</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="tab-register" data-mdb-toggle="pill" href="#pills-register" role="tab"
                           aria-controls="pills-register" aria-selected="false">Register</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                        <form th:action="@{/auth/signin}" method="post" th:object="${loginRequest}">
                            <div class="text-center" th:if="${param.error}">
                                <span class="text-danger">Invalid username and password.</span>
                            </div>
                            <div class="text-center" th:if="${param.logout}">
                                <span class="text-success">You have been logged out.</span>
                            </div>
                            <div class="form-floating mb-4">
                                <input type="text" id="loginName" class="form-control" name="loginRequest.username"
                                       th:field="*{username}"
                                       placeholder="Username"/>
                                <label class="form-label" for="loginName">Username</label>
                            </div>

                            <div class="form-floating mb-4">
                                <input type="password" id="loginPassword" class="form-control"
                                       name="loginRequest.password" th:field="*{password}"
                                       placeholder="Password"/>
                                <label class="form-label" for="loginPassword">Password</label>
                            </div>

                            <button type="submit" class="btn btn-dark btn-block mb-4" id="btnLogin">SIGN IN</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
                        <form class="needs-validation" th:action="@{/auth/signup}" th:object="${registerRequest}"
                              method="post" novalidate>
                            <div class="form-floating mb-4 has-validation">
                                <input type="text" id="registerUsername" class="form-control" th:field="*{username}"
                                       name="registerRequest.username" placeholder="Username" required/>
                                <label class="form-label" for="registerUsername">Username</label>
                                <div class="invalid-feedback">
                                    Please choose a username. <!-- with min 4 characters!-->
                                </div>
                            </div>

                            <div class="form-floating mb-4 has-validation">
                                <input type="password" id="registerPassword" class="form-control" th:field="*{password}"
                                       name="registerRequest.password" placeholder="Password" required/>
                                <label class="form-label" for="registerPassword">Password</label>
                                <div class="invalid-feedback">
                                    Please enter a password. <!-- with min 8 characters!-->
                                </div>
                            </div>

                            <div class="form-floating mb-4 has-validation">
                                <input type="password" id="registerRepeatPassword" class="form-control"
                                       placeholder="Repeat password" required/>
                                <label class="form-label" for="registerRepeatPassword">Confirm password</label>
                                <div class="invalid-feedback">
                                    Please confirm the password!
                                </div>
                                <span class="text-danger mt-4" id="pwdDontMatch">Passwords do not match!</span>
                            </div>

                            <div class="form-check d-flex justify-content-center mb-4">
                                <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck"
                                       required/>
                                <label class="form-check-label" for="registerCheck">
                                    I have read and agree to the terms
                                </label>
                            </div>
                            <button type="submit" class="btn btn-dark btn-block mb-3" id="btnRegister">
                                SIGN UP
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <div class="mt-auto" th:insert="~{/fragments/footer :: footer}"></div>
</div>

<div class="toast align-items-center border-0 fade position-fixed top-0 start-50 translate-middle-x bg-success text-white bold mt-4"
     id="registerToastSuccess"
     role="alert" aria-live="assertive"
     aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body" id="toastBodySuccess" content="">
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto bold" data-bs-dismiss="toast"
                aria-label="Close"></button>
    </div>
</div>

<div class="toast align-items-center border-0 fade position-fixed top-0 start-50 translate-middle-x bg-danger text-white bold mt-4"
     id="registerToastFail"
     role="alert" aria-live="assertive"
     aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body" id="toastBodyFail" content="">
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto bold" data-bs-dismiss="toast"
                aria-label="Close"></button>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
<script th:src="@{/webjars/jquery/jquery.js}"></script>

<script>
    window.addEventListener('load', () => {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const errorCheckMessage = urlParams.get('errorMessage');
        const userRegisteredFlag = urlParams.get('userRegistered');

        // Register toast show
        if (userRegisteredFlag === "true") {
            const toastElement = $('#registerToastSuccess');
            const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastElement);
            $('#toastBodySuccess').html(errorCheckMessage);
            toastBootstrap.show();
        } else if (userRegisteredFlag === "false") {
            const toastElement = $('#registerToastFail');
            const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastElement);
            $('#toastBodyFail').html(errorCheckMessage)
            toastBootstrap.show();
        }
    });

    // tabs switching script
    const triggerTabList = document.querySelectorAll('#authTabs a');
    triggerTabList.forEach(triggerEl => {
        const tabTrigger = new bootstrap.Tab(triggerEl);

        triggerEl.addEventListener('click', event => {
            event.preventDefault();
            tabTrigger.show();
        });
    });

    // pwd match script
    $('#registerPassword, #registerRepeatPassword').on('keyup', function () {
        if ($('#registerPassword').val() === $('#registerRepeatPassword').val()) {
            $('#pwdDontMatch').hide();
            $('#btnRegister').show()
        } else {
            $('#pwdDontMatch').show();
            $('#btnRegister').hide();
        }
    });

    // JavaScript for disabling form submissions if there are invalid fields
    $('#registerUsername, #registerPassword').on('keyup', checkValidity = () => {
        'use strict'
        const forms = document.querySelectorAll('.needs-validation')

        Array.from(forms).forEach(form => {

            const inputs = form.querySelectorAll('input');
            Array.from(inputs).forEach(input => {
                switch (input.getAttribute("id")) {
                    case 'registerUsername':
                        if (input.value.length < 4) {
                            input.setCustomValidity("Username must have 4 characters at least!");
                        } else {
                            input.setCustomValidity("");
                        }
                        break;
                    case 'registerPassword':
                        if (input.value.length < 8) {
                            input.setCustomValidity("Password must have 8 characters at least!");
                        } else {
                            input.setCustomValidity("");
                        }
                        break;
                }
            });

            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                    form.reportValidity();
                }

                form.classList.add('was-validated')
            }, false)
        })
    });
</script>
</body>
</html>