<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Purchase success page</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}"/>
</head>
<body style="height: 100vh;" class="d-flex text-center">
<div class="d-flex w-100 h-100 mx-auto flex-column">
    <div class="mb-auto" th:insert="~{/fragments/header :: header}"></div>

    <div class="container">
        <main class="row">
            <div class="col">
                <div class="row">
                    <h2 class="text-success">Congratulations on your purchase!</h2>
                    <h4>You can view your purchase in History tab</h4>
                </div>
            </div>
        </main>
    </div>

    <div class="mt-auto" th:insert="~{/fragments/footer :: footer}"></div>
</div>

<script th:src="@{/webjars/jquery/jquery.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.js}"></script>
</body>
</html>